---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <slot /> -->
		 <header>
			<div class="container">
				<div class="flex-menu">
					<img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="" class="">
					<menu>
						<li> <a href="#">Tienda</a></li>
						<li> <a href="#">Comunidad</a></li>
						<li> <a href="#">Acerca de</a></li>
						<li> <a href="#">Soporte</a></li>
					</menu>
					
				</div>

				<div class="menu-right">
					<a href="#" class="btn-download">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
						  </svg>
						  Instalar Steam
					</a>
					<a href="#"> iniciar sesion </a>
					              |
					<a href="#"> idioma </a>
					  
				</div>
			</div>
		 </header>

		 <div class="banner"></div>
		 <div class="left-menu"></div>
		 <div class="banner2 container"></div>
		 <div class="banner3"></div>
	</body>
</html>
<style>
	html, body {
		padding: 0;
		margin: 0;
	}
	header{
		background: #161d24;
		height: 80px;
	}
	.container{
		max-width: 1200px;
		margin: 0 10%;
		
	}
	.flex-menu{
		display: flex;
		height: 80px;
		width: 60%;
		align-items: center;
		float: left;         /*Permite que un elemento de bloque tenga algo a su lado*/
        font-family: sans-serif;
		text-transform: uppercase;   /*El texto en mayuscula*/ 
		color: #f8eeee;
	}
	.flex-menu img{
		width: 160px;
	}

	.flex-menu li {
		margin-left: 10px;
		display: inline-block;
		color: #f1ecec;
	}

	.flex-menu a {
		text-decoration: none;
		color: #e6d7d7;
		font-weight: 600;   /*Le da espesor a la letra*/ 
	}

	.flex-menu a:hover {
		color: #1a93eb;
		text-decoration: underline;
	}
	
	.menu-right{
		float: left;  /* Lo utiliza para acomodar el imiciar sesion a la derecha por espacio */
		width: 40%;
		margin-top: 8px;
		font-family: sans-serif;
		color: #f1ecec;
	}
	.menu-right a {
		text-decoration: none;
		color: #f1ecec;
		font-size: 11.5px;

	}
	.btn-download{
		text-decoration: none;
		background: #789806;
		padding: 5px 10px;
		margin-top: 10px ;
		margin-right: 10px;
		gap: 7px;
		display: inline-flex;
		align-items: center;   /*Alinear items en el eje y */
	}
	.btn-download svg{
		width: 15px;
	}
	.btn-download:hover{
		background-color:  #a2cc09d8;
	}
	.banner{
		background: orange;
		height: 478px;
	}
	.banner2{
		position: relative;
		background: purple;
		height: 240px;
		
	}
	.left-menu{
		float: left;
		background: pink;
		width: 180px;
		height: 360px;
		z-index: 1;    /* Pra vizeualiza el elemento superpuesto y como se vera con otros */
		position: sticky;   /* Se encarga que en caulquier momento se va a mostrar el elemento cuando bajemos */
	    top: 0;        /* Para que se quede arriba del todo */
		left: calc(((100% - 1200px) / 2) - 180px) ;
	}
	.banner3{
		background: turquoise;
		height: 120px;
	}


</style>
